# 1. Directivas de Opciones
Options -Indexes -Multiviews

# 2. Configuración de Reescribir URLs
RewriteEngine On

# IMPORTANTE: Si el archivo o carpeta existe físicamente (como tus assets), NO lo reescribas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Regla de Reescritura: Envía todo a index.php como el parámetro 'url'
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]